<div>
  <div>
    <h2><%= recipe.name %></h2>
    <span>By <%= recipe.user.name %></span>
  </div>
  <div>
    <span>Total food items: <%= recipe.recipe_foods.size %></span>
    <span>Total price: <%= recipe.recipe_foods.inject(0) { |sum, i| sum + (i.food.price * i.quantity) }%>
    </span>
  </div>
</div>