<div>
 <div>
   <h2><%= recipe.name %></h2>
   <span>
    <% if current_user.id == recipe.user_id %>
      <%= button_to "DELETE", recipe_path(id: recipe.id), :method => "delete" %>
    <% end %>
   </span>
 </div>

 <div>
   <p><%= recipe.description %></p>
 <div>

</div>