<div>
 <div>
   <h2><%= recipe.name %></h2>
   <span>
    <%= button_to "DELETE", recipe_path(id: recipe.id), :method => "delete" %>
   </span>
 </div>

 <div>
   <p><%= recipe.description %></p>
 <div>

</div>