<div class="content">
  <h1 class="page-title">Food List</h1>
  <div class="full-width flex-right"><%= button_to "Add Food", new_food_path, method: :get,  class: 'right' %></div>
  <%= render 'foods/food' %>
</div>